.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: 0 20px;
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
    padding: 0 22px;
    visibility: visible;
    transition: all 250ms linear;
  }
}
