.wrapper {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--bg);
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.sticky {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .wrapper {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 0 22px;
    height: 70px;
    visibility: visible;
    transition: all 250ms linear;
  }

  .hidden {
    visibility: hidden;
    transition: all 250ms linear;
    transform: translateY(-200%);
  }
}
